@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    // border: 1px solid gray;
}


:root {
    --view-port-height: 0; // set in js; fix for hiding url bar on phones
    --pac-man-color: rgb(230, 180, 19);
}

$eggshell: rgb(247, 244, 242);
$wall: rgb(179, 192, 187);
$food: rgb(129, 122, 101);
$blackish: rgb(17, 5, 44);


body {
    overscroll-behavior: contain;
    height: var(--view-port-height);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background-color: $eggshell;
    color: $blackish;
    text-align: center;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 400;
    margin-bottom: 20px;
}

h2 {
    margin: 20px;
}

p {
    margin: 10px;
}


.game-field-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    &.hidden {
        display: none;
    }

    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 30px;
    
    background-color: $eggshell;

    text-transform: uppercase;
    border-top: 1px solid $blackish;
    border-bottom: 1px solid $blackish;
}

.game-field {
    height: min(100vw, var(--view-port-height));
    width: min(100vw, var(--view-port-height));
    padding: 10px;

    display: grid;
    grid-template-rows: repeat(28, 1fr);
    grid-template-columns: repeat(28, 1fr);

    .type-0 { // pellet
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 35%;
            left: 35%;
            height: 30%;
            width: 30%;
            background-color: $food;
            border-radius: 50%;
            display: inline-block;
        }
    }
    .type-1 { // wall
        border: min(.5vw, .5vh) solid $eggshell;
        background-color: $wall;
        border-radius: min(.5vw, .5vh);
    }

    .type-1 > 
    .type-2 {background-color: $eggshell;} // ghost lair
    .type-3 { // power pellet
        background-color: $eggshell;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 10%;
            left: 10%;
            height: 80%;
            width: 80%;
            background-color: $food;
            border-radius: 50%;
            display: inline-block;
        }
    }
    .type-4 {background-color: $eggshell;} // empty
    .pac-man {
        position: relative;
        // background-color: rgb(230, 180, 19);
        background-color: var(--pac-man-color);

        border-radius: 50%;

        &::after {
            content: '';
            position: absolute;
            width: 50%;  
            top: 50%;
            bottom: 0;
            right: 0;
            background-color: $eggshell;
        }
        &.d {transform: rotate(-45deg);}
        &.a {transform: rotate(135deg);}
        &.w {transform: rotate(225deg);}
        &.s {transform: rotate(45deg);}
    }
    
    .ghost {
        border: 1px solid $eggshell; 
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 35%;
            left: 35%;
            height: 30%;
            width: 30%;
            background-color: $eggshell;
            border-radius: 50%;
            display: inline-block;
        }
    }
    .Blinky {background-color: rgb(180, 73, 73);}
    .Pinky {background-color: rgb(216, 112, 160);}
    .Inky {background-color: rgb(45, 185, 185);}
    .Clyde {background-color: rgb(209, 153, 49);}
    .BoneGrinder {
        background-color: rgb(0, 0, 0);
        &::before {
            background-color: red;
        }
    }
    
    .afraid {
        background-color: rgb(128, 102, 223);
    }

    .skull {
        background-image: url("../images/human-skull.png");
        background-size: cover;
    }
}
